@import url('/nav.css');
video {
    display: block; 
    margin: 0 auto;
    background: grey;
}
table {
    margin: 0 auto;
}
h2 {
    margin: 0 auto;
    text-align: center; 
}
footer {
    text-align: center; 
}
div {
    margin: 0 auto;
    text-align: center; 
}
button {
    margin: 0 auto;
    display: block;
}